.horizontal-div {
	float: left;
	margin-right: 10px;
}

.half-div {
	float: left;
	width: 50%;
}

.form-control {
	font-size: 1.5rem;
}

.text-large {
	font-size: 1.5rem;
}

.tweet-list {
	overflow: hidden;
	overflow-y: scroll;
	height: 500px;
}